@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Montserrat:wght@400;700&display=swap");

body {
  background-color: var(--gray);
}

.banner {
  width: 100vw;
  height: 100px;
  box-shadow: 0px -1px 10px 1px #555;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.banner--hamburguer-btn {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  cursor: pointer;
}

.hamburguer-btn-line {
  height: 7px;
  border-radius: 10px;
  background: var(--green);
  transition: all 250ms;
}

.hamburguer-btn-line:nth-child(2) {
  width: 45%;
}

.hamburguer-btn-line:nth-child(3),
.hamburguer-btn-line:nth-child(1) {
  width: 60%;
}

.banner--title {
  font-family: "Roboto Mono", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin-left: 80px;
  position: relative;
  right: 70px;
}

.banner--navigation,
.banner--navigation__active {
  position: absolute;
  transition: all 500ms;
  background: var(--gray);
  width: 100%;
}

.banner--navigation {
  transform: translateY(-100vh);
}

.banner--navigation__active {
  transform: translateY(150px);
}

.banner--links-ctn {
  display: flex;
  flex-direction: column;
  width: auto;
  gap: 2rem;
  align-items: center;
  padding: 1rem 0;
}

.banner--link {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.banner--list-link {
  list-style: none;
  font-size: 1.5rem;
}

/* change states */

.hamburguer-btn-line__active-1 {
  transform: rotate(45deg) translateY(10px);
}

.hamburguer-btn-line__active-2 {
  transform: rotate(-45deg) translateY(-10px);
}

.hamburguer-btn-line__hide {
  display: none;
}
