* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: none;
  border: none;
  outline: none;
}

:root {
  font-size: 16px;
  --green: #44bba4;
  --black: #333;
  --gray: #eee;
  --blue: #007bff;
}
