.app-banner {
    width: 100vw;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.25);
}

.app-hamburguer-btn {
    width: 4rem;
    height: 80%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    background-color: transparent;
}

.hamburguer-btn--line {
    background-color: var(--light-green);
    height: 7px;
    border-radius: 5px;
    transition: all 500ms;
}

.hamburguer-btn--line:nth-child(1) {
    width: 100%;
}

.hamburguer-btn--line:nth-child(2) {
    width: 75%;
}

.hamburguer-btn--line:nth-child(3) {
    width: 50%;
}

.rotate-clockwise {
    transform: rotate(45deg) translateY(10px);
}

.rotate-anticlockwise {
    transform: rotate(-45deg) translateY(-7px);
}

.app-title {
    font-weight: 400;
    letter-spacing: 2px;
}
